.Main-section
{
    border: 1px solid rgb(28, 18, 18);
    width: 450px;
    height: 500px;
    margin: 100px auto;
    background-color:rgb(255, 255, 255);
    border-radius: 7px;

}
.Main-section img
{
    width: 430px;
    height: 300px;
    margin: 10px 10px;
    border-radius: 8px;
}
.Main-section h3
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    font-size: 24px;
}
.Main-section p
{
    margin-left: 10px;
    font-size: 17px;
    font-weight: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#best-seller
{
    color: rgb(2, 81, 81);
    font-weight: bolder;
    background-color: rgb(216, 239, 242);
    padding: 3px 5px 3px 5px;
    border-radius: 8px;
    border: 1px solid rgb(42, 137, 4);
    position: absolute;
    top: 130px;
    left: 180px;
}